name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          submodules: 'recursive'
      - name: Set up JDK 21
        uses: actions/setup-java@fe779bf55ef683c9413269276a7588bb9cedf07a
        with:
         distribution: 'oracle'
         java-version: '21'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew assemble
